#Data Type And Structure Questions


1. What are data structures, and why are they important?
  - A data structure is a way to organise and store data efficiently,enabling us to perform operations on that data effectively. They are important because they enable efficient data access, modification and processing which improves program performance.

2.  Explain the difference between mutable and immutable data types with examples?
  - Mutable Data types can be modified or editable after creation. Examples are Lists, Dictionaries, Sets. Immutable Data Types can't be modified or changed after creation. Examples are Tuples, Strings, Integers.

3. What are the main differences between lists and tuples in Python?
  - LISTS:
  (a) These are Mutable ie can be modified.
  (b) These are slower in performance and less secure for fixed data.
  (c) There syntax is defined using square brackets"[]".
  (d) They are suitable for frequently changing data.

  - TUPLES:
  (a) These are Immutable ie can't be modified or changed.
  (b) They are faster in performance and ensuring data integrity.
  (c) There syntax is defined using parentheses "()".
  (d) They are suitable for fixed data.

4. Describe how dictionaries store data.
  - Dictionaries stores data values in Key:Value pairs. Dictionary is a collection which is changable and don't allow duplicates.

5. Why might you use a set instead of a list in Python?
  - We use set instead of list because Sets store unique values only, no duplicates, also they offer faster lookups and also useful for membership checks removing duplicates.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of charecters used for representing textual data. String is enclosed in either single quote ('') or double quote(""). Example - "HELLO WORLD". It is different from Lists as these are immutable while lists are mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, their values can't be changed after creation, which ensures that the data remains consistent and unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table stores data using a hashing function to map keys to value. Python dictionaries use hash tables for fast key based lookups.

9.  Can lists contain different data types in Python?
  - Yes, List can hold multiple data types. It can store strings, float, Int, Bool etc.

10. Explain why strings are immutable in Python?
  - Strings are immutable to ensure data integrity, which allows safe sharing between functions, and optimize memory usage through interning.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Advantages are:
  (a) Dictionaries provide fast access to values based on their keys.
  (b) More meaningful organization using key-value pair.
  (c) These have efficient storage of large datasets.

12. Describe a scenario where using a tuple would be preferable over a list?
  - When defining constant data or fixed data which we don't want to modified at any cost, these Tuples are used, Example days = ("Monday", "Tuesday", "Wednesday"), Here it prevents modification.

13. How do sets handle duplicate values in Python?
  - Sets automatically removes duplicate values
  Example - my_set = {1, 2, 2, 3} #Here Output will be: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
  - In Lists, it checks for value existence.
  Example - 3 in [1, 2, 3]  # True

  - In Dictionaries it checks for key existence.
  Example - "name" in {"name": "Ajay"} # True

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, Tuples are immutable, they can't modified. The reasons of immutablity for Tuples are:
   * More Memory efficient that lists.
   * Data Integrity
   * Faster in performance than lists.

16. What is a nested dictionary, and give an example of its use case?
  - A Nested Dictionary is a Dictionary within another dictionary. Its use cases are:
  * Use in Storing Student Records.
  * Use in storing Companies Employee details, ie Employee Management System.
  * Use in Game Development
  * Use in E-commerce product catalog.

17. Describe the time complexity of accessing elements in a dictionary?
  - The Time complexity of accessing an element in a dictionary depends on whether the key exists and how well the hash function distributes key.
  * Dictionaries use hash tables, making lookups, insertions, and deletions fast.
  * Worst-case O(n) occurs when hash collisions happen and require linear searches.
  * Iterating through a dictionary is always since O(n) since all elements must be visited.   

18. In what situations are lists preferred over dictionaries?
  - Situations are:
  * Maintaining Order - Lists preserve the order of elements, whereas dictionaries didn't.
  * Sequential Data - When storing ordered collections like a list of tasks.
  * Index based Access - Lists allow access using numeric indices while dictionaries require keys.
  * Faster Iteration - Iteration through a list is often faster than list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because:
  * Hashing Mechanish - Keys are hashed to determine where values are stored,not in fixed order.
  * Dynamic Resizing - When dictionaries grows, rehashing occurs, changing the internal order.

  - Effect on Data Retrieval:
  * Faster Lookups(O(1)) - Elements are accessed by keys, not positions, making retrival efficient.
  * Iteration Order - Items might appears in a different order when iterating.
  * No Index-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - Lists use Index-based retrieval:
  * To access an element we need its position: my_list[2]
  * If position is unknown, searching (value in list) takes O(n) time.

  - Dictionaries use Key-based retrieval:
  * Elements are accessed using keys: my_dict["name"].
  * Lookup is O(1) on average, because of hashing.
  * Unlike lists, order doesn't affect retrieval efficiency.

In [ ]:
# PRACTICAL BASED QUESTIONS

#Write a code to create a string with your name and print it.
name = "Anas Ansari"
print ('My Name is : ', name)

My Name is :  Anas Ansari

In [ ]:
#Write a code to find the length of the string "Hello World".

string = "Hello World"
length = len(string)
print("Length of given String is: ", length)

Length of given String is:  11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3]
print("First 3 characters: ", sliced_string)

First 3 characters:  Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like Apple"
new_string = string.replace("Apple", "Orange")
print (new_string)

I like Orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ["a", "b", "c", "d"]
print(my_list[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#.Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)
type(my_tuple)

(100, 200, 300)

tuple

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print("Minimum Number is: ", minimum_number)
type(my_tuple)

Minimum Number is:  5

tuple

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ("dog", "cat", "rabbit")
index_of_cat = my_tuple.index("cat")
print(index_of_cat)

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
friuts = ("apple", "banana", "mango")
presence_of_kiwi = "kiwi" in friuts
print("Is kiwi in the tuple : ", presence_of_kiwi) #absence of 'kiwi'

friuts2 = ("apple", "banana", "kiwi")
presence_of_kiwi = "kiwi" in friuts2
print("Is kiwi in the tuple : ", presence_of_kiwi) #presence of 'kiwi'

Is kiwi in the tuple :  False
Is kiwi in the tuple :  True

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)
type(my_set)

{'a', 'b', 'c'}

set

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {'1', '2', '3', '4', '5'}
my_set.clear()
print(my_set)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name" : 'Anas Ansari', "age" : 25, "city" : 'Delhi'}
print (my_dict)
type(my_dict)

{'name': 'Anas Ansari', 'age': 25, 'city': 'Delhi'}

dict

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name' : 'John', 'age' : '25'}
print(my_dict)
my_dict['counrty'] = 'USA' #we add counrty : USA to the dictionary
print(my_dict)

{'name': 'John', 'age': '25'}
{'name': 'John', 'age': '25', 'counrty': 'USA'}

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name' : 'Bob', 'age' : 22, 'city' : 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name' : 'Alice', 'city' : 'Paris'}
print('city' in my_dict)

True

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [2, 5, 8 , 10, 15]
my_tuple = (7, 5, 98, 2, 25)
my_dict = {"name" : 'Anas Ansari', "course" : "Masters In Data Science", "college" : "Coventry University, UK"}
print(my_list, my_tuple, my_dict) #OR in different lines
print('List: ', my_list)
print('Tuple: ', my_tuple)
print('Dictionary: ', my_dict)

[2, 5, 8, 10, 15] (7, 5, 98, 2, 25) {'name': 'Anas Ansari', 'course': 'Masters In Data Science', 'college': 'Coventry University, UK'}
List:  [2, 5, 8, 10, 15]
Tuple:  (7, 5, 98, 2, 25)
Dictionary:  {'name': 'Anas Ansari', 'course': 'Masters In Data Science', 'college': 'Coventry University, UK'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = random.sample(range(1,100),5)
print(random_numbers)

#Now to sort it in ascending order
random_numbers.sort()
print('Sorted Random Numbers are: ', random_numbers)

[59, 6, 66, 41, 26]
Sorted Random Numbers are:  [6, 26, 41, 59, 66]

In [ ]:
#Write a code to create a list with strings and print the element at the third index.
string_list = ['apple', 'banana', 'mango', 'grapes', 'orange']
print(string_list[2])

mango

In [ ]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a' : 1, 'b' : 2, 'c' : 3}
dict2 = {'d' : 4, 'e' : 5, 'f' : 6}
D = {**dict1, **dict2}
print ("Combined_dictionary: ", D)

Combined_dictionary:  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
#  Write a code to convert a list of strings into a set.
my_list = ['acer', 'dell', 'sony', 'msi', 'lenovo', 'hp']
a = set(my_list)
print('Converted Set: ', a)
type(a)

Converted Set:  {'hp', 'sony', 'acer', 'dell', 'lenovo', 'msi'}

set